.listItem {
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border: 1px solid #000;
  border-radius: 0.25rem;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  transition: transform 0.6s ease, filter 0.6s ease, opacity 0.6s ease;
}
