.heroContent {
  font-family: inter;
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-shadow: 5px 5px 5px #000000;
}

.productHeader {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.productSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  padding-top: var(--spacing-8);
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 600px) {
  .productContainer {
    grid-template-columns: 1fr;
  }
  .heroContent {
    font-size: 20px;
  }
}
