footer {
  width: 100%;
  display: flex;
  padding: var(--spacing-8);
  justify-content: space-around;
  flex-direction: row;
  border-top: 2px solid black;
  margin-top: var(--spacing-8);
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.footerText,
.navigationContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-6);
}

.footerText {
  max-width: 800px;
}

@media (max-width: 768px) {
  .footerText {
    text-align: center;
  }
}
