:root {
  font-family: serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  font-weight: bold;
  border: none;
}

.nav-link:hover {
  color: #000;
  border: none;
}
